@import "tailwindcss";
@plugin "daisyui";

[ data-theme = "dark"]{
    --TEXT-COLOR:#ffffff;
    --HEADING-TITLE-TEXT:#0dac57;

}

[ data-theme = "light"]{
    --TEXT-COLOR:black;
     --HEADING-TITLE-TEXT:#016630;

}

[ data-theme = "light"]{
    --TEXT-TABLE-COLOR:black;
   

}
[ data-theme = "light"]{
    --TEXT-TABLE-COLOR:white;
   

}


a.active {
  color: green;
  text-decoration: underline;
}