@import "tailwindcss";
@plugin "daisyui";

[ data-theme = "dark"]{
    --TEXT-COLOR:#ffffff;
    --HEADING-TITLE-TEXT:#0dac57;

}

[ data-theme = "light"]{
    --TEXT-COLOR:black;
     --HEADING-TITLE-TEXT:#016630;

}
